.toyota-logo {
    text-align: center;
    max-height: 147px;
    max-width: 176px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: #926565;
    text-align: center;
    color: white;
}

.Ride-Along {
    margin-top: 15px;
    margin-bottom: 60px;
}

h1 {
    color:white;
}

input {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: transparent;
    border-radius: 100px;
    height: 67px !important;
    width: 280px;
    font-family: .SFNSDisplay-Regular !important;
    font-size: 26px !important;
    letter-spacing: 0px !important;
    line-height: 34px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.username-field {
    background: url(../img/Username.png) no-repeat scroll 7px 8px;
    padding-left: 70px;
    padding-top: 0px;
}

.password-field {
    background: url(../img/Password.png) no-repeat scroll 7px 8px;
    padding-left: 70px;
    padding-top: 0px;
}

.email-field {
    background: url(../img/Email.png) no-repeat scroll 15px 17px;
    padding-left: 70px;
    padding-top: 0px;
}

.login-button {
    background: #9B9B9B;
    border: transparent;
    border-radius: 100px;
    height: 67px !important;
    width: 280px;
    font-family: .SFNSDisplay-Regular !important;
    font-size: 26px !important;
    letter-spacing: 0px !important;
    line-height: 34px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: inline-block;
    text-align: left;
    float: left;
    text-decoration: none;
    opacity: 0.5;
    font-family: .SFNSDisplay-Regular;
    font-size: 22px;
    color: #FFFFFF;
}

.help {
    display: inline-block;
    text-align: right;
    float: right;
    opacity: 0.5;
    font-family: .SFNSDisplay-Regular;
    font-size: 22px;
    color: #FFFFFF;
}

.IDSCAN {
    border: 5px dotted white;
    width: 280px;
    color: white;
    height: 100px;
    display: block;
    margin: 10px auto 20px auto;
}

.IDSCAN p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

p {
    color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #664646;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 100%;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: absolute;
    top: 15px;
    left: 25px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    padding: 20px;
}

#info {
    width: 75%;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}

.light {
    float: left;
}
.temperature {
    float: right;
    font-size: 170px;
}

.temperature p{
    float: right;
    font-size: 45px;
}
.logout-link {
    bottom: 100px;
    position: absolute;
}

hr {
    border: 5px solid #9B9B9B;
    clear: both;
}

.add-payment{
    background-color: red;
}