
<div class="view">
        <h1>Create Account</h1>
        <form ua-signup>
            <input class="username-field" name="login" placeholder="Username"> <br>
            <input type="email" class="email-field" name="email" placeholder="Email"> <br>
            <input type="password" class="password-field" name="password" placeholder="Password"> <br>
            <div class="IDSCAN" ng-click="takePicture()"><p>{{DATA}}</p></div>
            <img [src]="base64Image" *ngIf="base64Image" />
            <button type="submit" class="login-button">Create Account</button>

            <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
            <p ng-show="error">{{ error.message }}</p>

        </form>

        <p>Terms & Conditions</p>
</div>
