.toyota-logo {
    text-align: center;
    max-height: 147px;
    max-width: 176px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: #926565;
    text-align: center;
    color: white;
}

.Ride-Along {
    margin-top: 20px;
    margin-bottom: 90px;
}

h1 {
    color:white;
}

input {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: transparent;
    border-radius: 100px;
    height: 67px !important;
    width: 280px;
    font-family: .SFNSDisplay-Regular !important;
    font-size: 26px !important;
    letter-spacing: 0px !important;
    line-height: 34px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.username-field {
    background: url(/../img/Username.png) no-repeat scroll 7px 8px;
    padding-left: 70px;
    padding-top: 0px;
}

.password-field {
    background: url(/../img/Password.png) no-repeat scroll 7px 8px;
    padding-left: 70px;
    padding-top: 0px;
}

.email-field {
    background: url(/../img/Email.png) no-repeat scroll 15px 17px;
    padding-left: 70px;
    padding-top: 0px;
}

.login-button {
    background: #9B9B9B;
    border: transparent;
    border-radius: 100px;
    height: 67px !important;
    width: 280px;
    font-family: .SFNSDisplay-Regular !important;
    font-size: 26px !important;
    letter-spacing: 0px !important;
    line-height: 34px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: inline-block;
    text-align: left;
    float: left;
    text-decoration: none;
    opacity: 0.5;
    font-family: .SFNSDisplay-Regular;
    font-size: 22px;
    color: #FFFFFF;
}

.help {
    display: inline-block;
    text-align: right;
    float: right;
    opacity: 0.5;
    font-family: .SFNSDisplay-Regular;
    font-size: 22px;
    color: #FFFFFF;
}

.IDSCAN {
    border: 5px dotted white;
    width: 280px;
    color: white;
    height: 160px;
    display: block;
    margin: 10px auto 20px auto;
}

.IDSCAN p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.view {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
}

/* Username: */

/* Oval: */
border: 2px solid #FFFFFF;
/* Shape: */
border: 2px solid #FFFFFF;
/* Path: */
border: 2px solid #FFFFFF;
/* Bounds: */